body {
    background-color: #0C141D;
}

.nav1 {
    display: flex;
    height: 54px;
    justify-content: space-around;
    background-color: #1A242F;
    padding-top: 8px;
}

.nav1 a {
    color: #f8f8f8;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    font-size: 17px;
}

.nav2 {
    display: flex;
    height: 40px;
    justify-content: space-around;
    background-color: #1A242F;
}

.nav2 a {
    text-decoration: none;
    color: #3978BF;
}

.nav2 p {
    color: white;
}

.apartado1 {
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.apartado2 {
    padding-left: 150px;
    padding-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.imagen2 {
    background-color: #1A242F;
    float:center;
}

.texto1 {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.parte1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    color: white;
}

